<form [formGroup]="employeeForm">
  <div layout="row">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <mat-error *ngIf="title.errors && (title.dirty || title.touched)">
        Title is required
      </mat-error>

      <input
        matInput
        type="text"
        maxlength="4"
        required
        formControlName="title"
        autofocus
      />
    </mat-form-field>
  </div>

  <div layout="row">
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <mat-error
        *ngIf="firstname.errors && (firstname.dirty || firstname.touched)"
      >
        Name is required
      </mat-error>
      <input matInput type="text" required formControlName="firstname" />
    </mat-form-field>
  </div>
  <div layout="row">
    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <mat-error
        *ngIf="lastname.errors && (lastname.dirty || lastname.touched)"
      >
        Name is required
      </mat-error>
      <input matInput type="text" required formControlName="lastname" />
    </mat-form-field>
  </div>
  <div layout="row">
    <mat-form-field>
      <mat-label>Phone #</mat-label>
      <mat-error *ngIf="phoneno.errors && (phoneno.dirty || phoneno.touched)">
        <span *ngIf="phoneno.hasError('required')">Phone is required.</span>
        <span
          *ngIf="
            !phoneno.hasError('required') && phoneno.hasError('invalidPhone')
          "
          >(###)###-####</span
        >
      </mat-error>
      <input matInput type="text" required formControlName="phoneno" />
    </mat-form-field>
  </div>
  <div layout="row">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <mat-error *ngIf="email.errors && (email.dirty || email.touched)">
        <span *ngIf="email.hasError('required')">Email is required.</span>
        <span
          *ngIf="!email.hasError('required') && email.hasError('invalidEmail')"
          >xxx&#64;xxx.xxx</span
        >
      </mat-error>
      <input matInput type="email" required formControlName="email" />
    </mat-form-field>
  </div>
  <div class="mat-pad-sm">
    <span>
      <button
        mat-raised-button
        type="save_button"
        (click)="updateSelectedEmployee()"
        [disabled]="!employeeForm.valid"
      >
        Save
      </button>
    </span>

    <span>
      <button
        *ngIf="selectedEmployee.id"
        mat-raised-button
        type="button"
        (click)="deleted.emit(selectedEmployee)"
      >
        Delete
      </button>
    </span>

    <span>
      <button
        mat-raised-button
        type="button"
        (click)="cancelled.emit(selectedEmployee)"
      >
        Cancel
      </button>
    </span>
  </div>
</form>
